/* 
    Bottnet Group (T) Ltd 

    2023
*/

/* global variables */
:root {
    --btBlue : #0b0c26;
    --btRed : #db1d34;
    --btGray : #999999;
    --whiteGray : #d0d0d0;

}

/* colors */
/*
    dark-blue : #0b0c26;
    red : #db1d34;
    gray : #999999;
    
*/



/* general styles */
body {
    font-family: 'Poppins', sans-serif;
}


/* footer */
footer {
    background-color: var(--btBlue);
}

.ft-title {
    font-weight: 600;
    color: var(--whiteGray);
}

.ft-title-bottom-border {
    background-color: var(--btRed);
    height: 3px;

}

.copyleft {
    color: var(--whiteGray);
}

.ft-link {
    color : var(--whiteGray)
}