/* 
    Bottnet Group (T) Ltd 

    2023
*/


/* 

    Colors We Need 

    dark-blue : #0b0c26;
    red : #db1d34;
    gray : #999999;
    whiter-gray : #d0d0d0;

*/

/* global variables */
:root {
    --btBlue : #0b0c26;
    --btRed : #db1d34;
    --btGray : #999999;
    --whiteGray : #d0d0d0;

}




/* general styles */
body {
    font-family: 'Poppins', sans-serif;
}




/* header */

#topContactInfo {
    background-color: var(--btBlue);
    color: var(--btRed);
}

#topContactInfo > i {
    color :var(--whiteGray);
}

/* nav */
.top-nav-logo {
    height: 50px;
    width: auto;
}

.top-link :hover {
    border-radius: 2px solid var(--btRed);
}

/* footer */
footer {
    background-color: var(--btBlue);
}

.ft-title {
    font-weight: 600;
    color: var(--whiteGray);
}

.ft-title-bottom-border {
    background-color: var(--btRed);
    height: 3px;
    width: 30px;

}

.copyleft {
    color: var(--whiteGray);
}

.ft-link {
    color : var(--whiteGray)
}

.locations-list {
    color : white;
    font-weight: 200;
}

.physical-loc {
    font-weight: 500;
}

.office-loc {
    font-weight: 500;
}

.ft-icon {
    color : var(--btRed);
    font-weight: 600;
}