/* 
    Bottnet Group (T) Ltd 

    2023
*/


/* 

    Colors We Need 

    dark-blue : #0b0c26;
    red : #db1d34;
    gray : #999999;
    whiter-gray : #d0d0d0;

*/

/* global variables */
:root {
    --btBlue : #0b0c26;
    --btRed : #db1d34;
    --btGray : #999999;
    --whiteGray : #d0d0d0;

}




/* general styles */
body {
    font-family: 'Poppins', sans-serif;
}




/* header */

#topContactInfo {
    font-size : small;
    background-color: var(--btBlue);
    background-image: linear-gradient(to right,var(--btRed) ,var(--btBlue));
    color: var(--whiteGray);
}

#topContactInfo > i , a {
    color :var(--whiteGray);
}

#topContactInfo > i , a :hover {
    color: var(--btBlue);
}
/* nav */
.top-nav-logo {
    height: 30px;
    width: auto;
}

.top-link a{
    color: var(--btBlue);
}

.top-link :hover {
    color: #db1d34;
    
}

/* carousel */
.main-carousel {
    height: 100vh;
    background-image: linear-gradient(to right, var(--btRed), var(--btBlue));
}

.carousel-icon {
    font-size: 3rem;
}
.car-cap {
    margin-bottom :300px;
}


/* main content */
.section-head {
    font-size: small;
    color: var(--btRed);
}

.section-title {
    font-weight: 600;
}

/* footer */
footer {
    background-color: var(--btBlue);
}

#footer-logo {
    height: 50px;
    width: auto;
}

.ft-about {
    color: #999999;
    font-size: medium;
}

.ft-social-icons {
    color : var(--btRed);
}

.ft-social-icons:hover {
    color : var(--whiteGray);
}

.ft-title {
    font-weight: 600;
    color: var(--whiteGray);
}

.ft-title-bottom-border {
    background-color: var(--btRed);
    height: 3px;
    width: 30px;
}

.copyleft {
    color: var(--whiteGray);
    color: var(--btRed);
    opacity: 75%;
}

.ft-link {
    color : var(--whiteGray);
    text-decoration: none;
}

.ft-link > .link-sym :hover {
    color:#db1d34;
}

.ft-link:hover {
    color: var(--btRed);
    text-decoration: none;
}

.locations-list {
    color : white;
    font-weight: 200;
}

.physical-loc {
    font-weight: 500;
}

.office-loc {
    font-weight: 500;
}

.ft-icon {
    color : var(--btRed);
    font-weight: 600;
}